* {
    /* border: 1px black solid; */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 1em;
}

.open-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 3em;
    background-color: #155263;
    border: none;
    color: white;
    padding: 0.8em 2em;
    cursor: pointer;
  }

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: space-evenly;
    grid-gap: 1em;
  }

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc93c;
    width: 350px;
    height: 400px;
    margin: 0.5em 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.05);
}

  .card .title {
    margin-top: 5em;
  }

  .card .author {
    font-style: italic;
  }

  .card .pages {
    margin-top: auto;
    margin-bottom: 1em;
  }

  .readButton.unread {
    background-color: red;
  }